body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.button{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 90px;
    align-self: center;
    border: 2px solid green;
    background-color: rgb(160, 160, 160);
    border-radius: 60px;
    overflow: hidden;

}
span{
    position: relative;
    color: rgb(0, 0, 0);
    top: 10px ;
    left: 25px;
    /* z-index: 99; */
}
.first-color{
    z-index: 3;
    position: relative;
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    bottom:-30px;
}
.second-color{
    z-index: 4;
    position: relative;
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    bottom:-30px;

}
.third-color{
    
    z-index: 5;
    position: relative;
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    bottom:550px;

}
.newb{
    height: 5px;
    width: 5px;
    background-color: black;
}
#new{
    height: 300px;
    width: 300px;
    background-color: black;
}